language: python
sudo: false
addons:
  apt:
    sources:
      - google-chrome
    packages:
      - google-chrome-stable
matrix:
  include:
    - python: "2.7"
      env: PLONE_VERSION=5.0
    - python: "2.7"
      env: PLONE_VERSION=5.1
    - python: "2.7"
      env: PLONE_VERSION=5.2
    - python: "3.7"
      env: PLONE_VERSION=5.2
      dist: xenial
      sudo: true
cache:
  pip: true
  directories:
  - eggs
  - downloads
before_install:
# install chrome webdriver
  - mkdir webdriver;
    wget https://chromedriver.storage.googleapis.com/2.40/chromedriver_linux64.zip;
    unzip chromedriver_linux64.zip -d webdriver;
    export PATH=$PATH:$(pwd)/webdriver;
  - mkdir -p $HOME/buildout-cache/{eggs,downloads}
  - mkdir $HOME/.buildout
  - echo "[buildout]" > $HOME/.buildout/default.cfg
  - echo "download-cache = $HOME/buildout-cache/downloads" >> $HOME/.buildout/default.cfg
  - echo "eggs-directory = $HOME/buildout-cache/eggs" >> $HOME/.buildout/default.cfg
  - cp test-$PLONE_VERSION.x.cfg buildout.cfg
install:
  - pip install -r https://dist.plone.org/release/$PLONE_VERSION-latest/requirements.txt
  - buildout annotate
  - buildout -N -q
script:
  - bin/code-analysis
  - bin/test
after_success:
  - bin/createcoverage --output-dir=parts/test/coverage
  - pip install -q coveralls
  - coveralls
